:root{
    --primary-color: #383F6B;
    --title-color-dark: #383F6B;
    --card-background: #ffffff;
    --secondary-color: #ff6600;
    --background-color: #f4f4f4;
    --text-color: #333;
    --border-radius: 5px;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --border-color: #e2e2e2;
    --hover: #f0f0f0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.body{  
    position: relative;
    height: 100vh;
}

main{
    width: 100%;
}

thead{
    color: white;
    background-color: var(--primary-color);
}

td{
    color: var(--text-color);
    border-bottom: 1px solid #e2e2e2;
    height: 60px;
}

td:hover{
    background-color: var(--hover);
}

#container-turma{
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;

    background-color: var(--background-color);
    border: 1px solid #e2e2e2;
    border-radius: 5px;
}

aside{
    background-color: var(--primary-color);
    color: white;
    min-width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#grupo-icones{
    display: flex;
    gap: 25px;
    cursor: pointer;
}

#icones, #label{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#icones{
    align-items: center;
}

#label{
    justify-content: space-around;
}


#perfil{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;

    position: relative;
}


#grupo-alunos{
    display: flex;
    flex-direction: column;
    margin-top: 75px;
}

table{
    width: 100%;
}

table th{
    padding: 5px 15px;
}

.aluno{
    text-align: center;
    height: 50px;
}

.info{
    color: var(--text-color);
}

td{
    position: relative;
    font-family: 'open-sans', sans-serif;
}

.fa-pen-to-square{
    position: absolute;
    right: 5px;
    bottom: 0;
    transform: translateY(-50%);
    cursor: pointer;
}

.botao-presenca{
    border: none;
    background: none;
    cursor: pointer;

    width: 100%;
    height: 100%;
    padding: 15px;
}

#edicao-notas-menu{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgb(255, 255, 255);

    width: 500px;
    height: 550px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
}

#edicao-notas-menu h1{
    text-align: center;
    margin-bottom: 10px;

    color: white;
    background-color: var(--primary-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
}

#edicao-notas-menu h2{
    padding-left: 30px;
}

#grupo-notas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 30px 0 30px;
}


#botao-fechar-menu{
    position: absolute;
    top: -15px;
    right: -15px;
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;    
    justify-content: center;

    shape-outside: circle(50%);
    clip-path: circle(50%);

    border: none;
    background: #ff4d4d;
    cursor: pointer;

    font-size: 1.5rem;
    color: white;
}

#salvar-notas{
    position: absolute;
    bottom: 15px;
    right: 15px;

    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

section{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;

    padding: 5px;
    border-bottom: 1px solid #e2e2e2;
}

section:hover{
    background-color: #f0f0f0;
}

#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    display: none;
}