:root{
    --primary-color: #383F6B;
    --title-color-dark: #383F6B;
    --card-background: #ffffff;
    --secondary-color: #ff6600;
    --background-color: #f4f4f4;
    --text-color: #333;
    --border-radius: 5px;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --border-color: #e2e2e2;
    --hover: #f0f0f0;
}

#notas-container{
    width: 100%;

    display: flex;
    gap: 20px;
    justify-content: space-between;
}

#notas-content,  #presenca-container{
    background-color: var(--card-background);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: 10px;
}
#notas-content{
    width: 80%;
}
#presenca-container{
    width: 25%;
}

table{
    width: 100%;
}

table td{
    text-align: center;
}

#calendario-container, #avisos-container{
    margin-top: 50px;
}



#avisos{
    width: 100%;
    height: 500px;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
}